[submodule "Dependencies/Utils"]
	path = Dependencies/Utils
	url = git@github.com:ProMix0/Utils.git
[submodule "Dependencies/BicycleEcs"]
	path = Dependencies/BicycleEcs
	url = git@github.com:ProMix0/BicycleEcs.git
