name: Lint ReSharper

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
   runs-on: ubuntu-latest
   name: Self Test
   steps:
     - name: Checkout
       uses: actions/checkout@v3
       with:
            submodules: true
     - name: Inspect
       uses: nbadal/inspectcode-action@v1
       with:
          solution: './TranslateBot.sln'